[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-socketio = "*"
gevent = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
