{% extends "base.html.j2" %}
{% block mainhead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<!-- Add main module wide styles and scripts here -->
{% block head %}{% endblock head %}
{% endblock mainhead %}
{% block maincontent %}
<div class="navbar-fixed">
	<nav>
		  <div class="nav-wrapper cyan darken-3 z-depth-2">
			<a href="/" class="brand-logo center">Pictionary</a>
		  </div>
	</nav>
	  </div>
<div class="container">
	{% block content %}
	{% endblock content %}
</div>
{% endblock maincontent %}